<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Steve.G</h2>
      <h4>gs.gouin@gmail.com</h4>
    </div>
    <img src="./assets/visage.png" alt="dog">
  </div>
  <mat-divider></mat-divider>
  <H2 matSubheader>Pages </H2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <mat-divider></mat-divider>

<h2 matSubheader>Tools</h2>
  <a mat-list-item href="mailto:gs.gouin@gmail.com">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
</mat-nav-list>
