table {
  width: 90%;

  th {
    text-align: center;
  }

  tr {
    transition: background-color 0.2s, transform 0.1s linear;

    &:hover {
      transform: scale(1.010);
      width: 120%;
      cursor: pointer;
      background-color: #75bef8;
    }

  }

  td {
    text-align: center !important;

    mat-icon {
      text-align: center !important;
      font-size: 1.3rem;
    }
  }
}

mat-paginator {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}





