@import "src/styles";

mat-paginator {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
td{
  max-width: 60px;
  //white-space: nowrap;
  //text-overflow: ellipsis;
  //overflow: hidden;
}
.container-card-empty {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
  .empty-card{
    padding-top: 2rem;
    width: 100%;
    height: 10vh;
  }
}
.container-card-consultation-detail{
  width: 100%;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
}
.card-consultation-detail{
  width: 50%;
}




