yoyoyoy
<p-table  class="text-center" [value]="patients">
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Adress</th>
      <th>Date de Naissance</th>
      <th>Genre</th>
      <th>Tel</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patient>
    <tr class="text-center">
      <td>{{patient.lastName}}</td>
      <td>{{patient.firstName}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.birthdate}}</td>
      <td>{{patient.gender}}</td>
      <td>{{patient.phone}}</td>
      <td>
        <i class="pi pi-check"></i>
        <i class="pi pi-times" (click)="deletePatient(patient.id)"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
<div class="formulaire form-patient">
  <form [formGroup]="form">
    <div class="row">
      <label for="prenom" class="mandatory">Prenom</label>
      <input id="prenom" type="text" autocomplete="off" formControlName="firstName">
    </div>

    <div class="row">
      <label for="nom" class="mandatory">Nom</label>
      <input id="nom" type="text" autocomplete="off" formControlName="lastName">
    </div>

    <div class="row">
      <label for="date-naissance">Date de naissance</label>
      <input id="date-naissance" type="date" autocomplete="off" formControlName="birthdate">
    </div>

    <div class="row">
      <label for="genre">Genre</label>
      <input id="genre" type="text" autocomplete="off" formControlName="gender">
    </div>

    <div class="row">
      <label for="adresse">Adresse</label>
      <input id="adresse" type="text" autocomplete="off"  formControlName="address">
    </div>
      <div class="row">
        <label for="phone-mobile">Mobile</label>
        <input id="phone-mobile" type="text" autocomplete="off"  formControlName="phone">
      </div>
    <button (click)="onSubmitNurseForm()">Creer</button>
  </form>
</div>
