.form-patient {
  //width: 50%;
  //margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
}

form {
  //box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
  //margin: 0 auto;

  input {
    border: none;
    outline: none;
    height: 40px;
    //padding: 10px
    width: 100%;
    //background-color: lightgreen;
    border-bottom: solid 1px #3f51b5;

  }

  div {
    width: 100%;

    margin: 10px 0;
  }

  .title {
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    background-color: #3f51b5;
    padding: 25px;
  }

  button {
    padding: 5px;
    color: #3f51b5;
    background-color: #fff;
    border: 1px solid #3f51b5;
    width: 45%;
    transition: all 0.5s ease-in-out;
    border-radius: 15px;

    &:hover{
      background-color: #3f51b5;
      color: #fff;
    }

    &:disabled{
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
}
